body {
    background-color: white ;
    font-family: Arial, Helvetica, sans-serif;

}

.cabecalho {
    background-color:#003049;
    text-align: center;
    color: white;
    line-height: 0.5 ;
    padding: 15px 0px;
}

.navbar {
    background-color: #fcbf49;
    padding: 15px;
    text-align: center;
    
}

a:link {
    text-decoration: none;
    
}

a {
    color: #000000;
}

.link {
    padding: 0px 10px 0px 40px;
}

.meio {
    background-color:#f77f00;
    padding: 10px 0px;
    height: 800px;
    text-align: center;
}

h2 {
    color: white;
}

#pesquisa {
    padding: 25px 0px;
    color: white;
}

table  {
    background-color: white;
    display: block;
    width:700px;
    margin:auto;
}
th {
    background-color:#003049;
    color:white;
}

img {
    width:105px;
}
.form {
    background-color: #f77f00;
    width: 400px;
    margin:auto;
}

label {
    justify-content: left;
}

.um {
    position: relative;
    left: 85px;
}
.dois {
    position: relative;
    left: 23px; 
}
.tres{
    position: relative;
    left: 47px; 
}
.cinco{
    position: relative;
    left: 48px;
}

button {
    background-color:#003049;
    color: white;
    padding: 5px;
    margin-top:px;
}
