body {
    margin:0;
    padding:0; 
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

header { 
    background-color:black;
    color:white;
    text-align: center;
}
.folder {
    background:center no-repeat;
    background-size: cover;
    height: 70px;
    position:relative;
    left: 200px;   
}
.nome {
    position:relative;
    top: 50px;

}
nav {
    background-color:#632D6b ;
    height: 50px;
    padding: 20px 50px 20px;
    text-align: center;
}
a {
    background-color: :#632D6b;
    width: 150px;
    margin: 5px;
    padding: 20px 20px 0px;
    height: 50px;
    color: white;
    display: inline-block;
    margin:0 auto;
    font-size:large;
    text-decoration:none;
}
a:hover {
    background-color: #94439f;
    position: relative;
    bottom:10px;
}
.sobre-titulo{
    font-size: 2.rem;
    color: Black;
    margin: 30px 0px; 
    text-align: center;

}
.sobre-ensino, .sobre-trabalho, .sobre-voluntaria{
    background-color: #C4C4C4;
    padding: 25px 15px;
    font-size:1rem;
    text-align: left; 
    width: 450px;
    height: 300px;
    margin:auto;
    display:inline-block; 
    position: relative; 
    right: 20px;
}

.sobre-ensino {
    position: relative; 
    left: 180px;
    
}

.sobre-trabalho    {
    position: relative; 
    left: 180px;
}
.sobre-voluntaria {
    position: relative; 
    top: 20px;
    left: 180px;
}


footer {
    background-color: #632D6b;
    padding: 30px 50px;
    position: relative;
    top:50px;
    color: white;
}
input{
    display:inline;
    margin:auto;

}

h5 {
    font-size:1rem;
    padding-bottom:20px;
}
.msg {
    padding: 0px 50px;
}

.copyright {
    color:#C4C4C4;
    font-weight: lighter;
    padding: 2rem 0;
    display: block;
    margin:auto;
    text-align: center;

}
